body {
    padding-bottom: 40px;
    background-color: #6c6c6c;
    margin-bottom: 60px;
}

.navbar-przyciski {
    padding-top: 27.5px !important;
    padding-bottom: 27.5px !important;
}

#kopirajt {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #212121;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pre-no-border {
    white-space: pre-wrap;
}
.carousel {
    height: 400px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    background: rgba(0,0,0,0.5);
}

.carousel_text
{
    font-size: 18px !important;
}
.header
{
    font-size: 20px !important;
    opacity: 0.7;

}
/* Declare heights because of positioning of img element */
.carousel .item {
    height: 400px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 400px;
}

.center-block {
    display: block;
    height: 200px;
    width: 200px;
}

.button-center {
    margin: 0 auto;
}

.img-center {margin:0 auto;}
